<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Spelr</title>
</head>

<body>

    <header class="header">
        <span class="logo">Spelr.</span>

    </header>

    <div class="wrapper">
        <form method="post">
            <h1>Sign up</h1>
            <div class="input-box">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required id="password">
                <svg class="password-toggle" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                </svg>
            </div>
            <button type="submit">Sign up</button>
            {%if message%}
            <p style="color: red;text-align: center;margin-top: 10px;">{{message}}</p>
            {%endif%}
            <div class="register_link">
                <p>Already have an account? <a href="{{url_for('login')}}">Login</a></p>
            </div>
        </form>
    </div>

    <script>
        const passwordInput = document.getElementById('password');
        const toggleButton = document.querySelector('.password-toggle');

        toggleButton.addEventListener('click', () => {
            // Toggle password visibility
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            // Toggle icon
            if (type === 'password') {
                toggleButton.innerHTML = `<path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle>`;
            } else {
                toggleButton.innerHTML = `<path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line>`;
            }
        });
    </script>
</body>

</html>